* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Libre Baskerville", serif;
}

body {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6306897759) 0%, rgba(255, 255, 255, 0.3785889356) 50%, rgba(255, 255, 255, 0.1825105042) 100%), url("https://images.pexels.com/photos/1090638/pexels-photo-1090638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.nav {
  height: 500px;
}

li > a {
  font-family: "Abel", sans-serif;
  font-weight: bold;
}

#helga {
  font-family: "Uncial Antiqua", cursive;
  font-size: 2.5rem;
  color: gray;
}

[id$=description] {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

#first-description {
  height: 400px;
  color: white;
  border: 10px solid white;
}

#second-description {
  height: 400px;
  color: white;
}

p {
  font-size: 18px;
}

.tagline {
  font-size: 28px;
}

div.divider {
  height: 200px;
  background-color: white;
  margin-top: 6rem;
}

#description-height {
  height: 400px;
}

img {
  border-radius: 20%;
  border: 5px solid white;
}

[class^=project],
#profile {
  font-size: 2rem;
  font-weight: bolder;
}

[id^=capstone],
#connect {
  font-size: 1.5rem;
  font-weight: bolder;
}

.social-media:hover {
  color: #efefef;
  margin: 0.5rem;
  font-size: 1rem;
  opacity: 0.75;
  padding: 2px;
}

i {
  margin-right: 1rem;
}

#social-description {
  height: 300px;
}

#connect {
  font-size: 1rem;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: 3px solid gray;
}

#myBtn:hover {
  background-color: #555;
}

/*# sourceMappingURL=style.css.map */
